# Ignorar archivo de configuración local con credenciales reales
.env
../config/con_db.php
../config/Configuracion.php

# Ignorar respaldos de base de datos locales
database/*.sql

# Carpetas del sistema o de dependencias
.DS_Store
node_modules/